.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 75%;
  max-width: 1050px;
  margin: 0px auto;
}

@media only screen and (max-width: 991px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .col-d-1 {
    position: relative;
    width: 8.3333333333%;
  }

  .offset-d-1 {
    margin-left: 8.3333333333%;
  }

  .push-d-1[class*=col-] {
    left: 8.3333333333%;
  }

  .pull-d-1[class*=col-] {
    left: -8.3333333333%;
  }

  .col-d-2 {
    position: relative;
    width: 16.6666666667%;
  }

  .offset-d-2 {
    margin-left: 16.6666666667%;
  }

  .push-d-2[class*=col-] {
    left: 16.6666666667%;
  }

  .pull-d-2[class*=col-] {
    left: -16.6666666667%;
  }

  .col-d-3 {
    position: relative;
    width: 25%;
  }

  .offset-d-3 {
    margin-left: 25%;
  }

  .push-d-3[class*=col-] {
    left: 25%;
  }

  .pull-d-3[class*=col-] {
    left: -25%;
  }

  .col-d-4 {
    position: relative;
    width: 33.3333333333%;
  }

  .offset-d-4 {
    margin-left: 33.3333333333%;
  }

  .push-d-4[class*=col-] {
    left: 33.3333333333%;
  }

  .pull-d-4[class*=col-] {
    left: -33.3333333333%;
  }

  .col-d-5 {
    position: relative;
    width: 41.6666666667%;
  }

  .offset-d-5 {
    margin-left: 41.6666666667%;
  }

  .push-d-5[class*=col-] {
    left: 41.6666666667%;
  }

  .pull-d-5[class*=col-] {
    left: -41.6666666667%;
  }

  .col-d-6 {
    position: relative;
    width: 50%;
  }

  .offset-d-6 {
    margin-left: 50%;
  }

  .push-d-6[class*=col-] {
    left: 50%;
  }

  .pull-d-6[class*=col-] {
    left: -50%;
  }

  .col-d-7 {
    position: relative;
    width: 58.3333333333%;
  }

  .offset-d-7 {
    margin-left: 58.3333333333%;
  }

  .push-d-7[class*=col-] {
    left: 58.3333333333%;
  }

  .pull-d-7[class*=col-] {
    left: -58.3333333333%;
  }

  .col-d-8 {
    position: relative;
    width: 66.6666666667%;
  }

  .offset-d-8 {
    margin-left: 66.6666666667%;
  }

  .push-d-8[class*=col-] {
    left: 66.6666666667%;
  }

  .pull-d-8[class*=col-] {
    left: -66.6666666667%;
  }

  .col-d-9 {
    position: relative;
    width: 75%;
  }

  .offset-d-9 {
    margin-left: 75%;
  }

  .push-d-9[class*=col-] {
    left: 75%;
  }

  .pull-d-9[class*=col-] {
    left: -75%;
  }

  .col-d-10 {
    position: relative;
    width: 83.3333333333%;
  }

  .offset-d-10 {
    margin-left: 83.3333333333%;
  }

  .push-d-10[class*=col-] {
    left: 83.3333333333%;
  }

  .pull-d-10[class*=col-] {
    left: -83.3333333333%;
  }

  .col-d-11 {
    position: relative;
    width: 91.6666666667%;
  }

  .offset-d-11 {
    margin-left: 91.6666666667%;
  }

  .push-d-11[class*=col-] {
    left: 91.6666666667%;
  }

  .pull-d-11[class*=col-] {
    left: -91.6666666667%;
  }

  .col-d-12 {
    position: relative;
    width: 100%;
  }

  .offset-d-12 {
    margin-left: 100%;
  }

  .push-d-12[class*=col-] {
    left: 100%;
  }

  .pull-d-12[class*=col-] {
    left: -100%;
  }
}
@media only screen and (max-width: 991px) {
  .col-m-1 {
    position: relative;
    width: 8.3333333333%;
  }

  .offset-m-1 {
    margin-left: 8.3333333333%;
  }

  .push-m-1[class*=col-] {
    left: 8.3333333333%;
  }

  .pull-m-1[class*=col-] {
    left: -8.3333333333%;
  }

  .col-m-2 {
    position: relative;
    width: 16.6666666667%;
  }

  .offset-m-2 {
    margin-left: 16.6666666667%;
  }

  .push-m-2[class*=col-] {
    left: 16.6666666667%;
  }

  .pull-m-2[class*=col-] {
    left: -16.6666666667%;
  }

  .col-m-3 {
    position: relative;
    width: 25%;
  }

  .offset-m-3 {
    margin-left: 25%;
  }

  .push-m-3[class*=col-] {
    left: 25%;
  }

  .pull-m-3[class*=col-] {
    left: -25%;
  }

  .col-m-4 {
    position: relative;
    width: 33.3333333333%;
  }

  .offset-m-4 {
    margin-left: 33.3333333333%;
  }

  .push-m-4[class*=col-] {
    left: 33.3333333333%;
  }

  .pull-m-4[class*=col-] {
    left: -33.3333333333%;
  }

  .col-m-5 {
    position: relative;
    width: 41.6666666667%;
  }

  .offset-m-5 {
    margin-left: 41.6666666667%;
  }

  .push-m-5[class*=col-] {
    left: 41.6666666667%;
  }

  .pull-m-5[class*=col-] {
    left: -41.6666666667%;
  }

  .col-m-6 {
    position: relative;
    width: 50%;
  }

  .offset-m-6 {
    margin-left: 50%;
  }

  .push-m-6[class*=col-] {
    left: 50%;
  }

  .pull-m-6[class*=col-] {
    left: -50%;
  }

  .col-m-7 {
    position: relative;
    width: 58.3333333333%;
  }

  .offset-m-7 {
    margin-left: 58.3333333333%;
  }

  .push-m-7[class*=col-] {
    left: 58.3333333333%;
  }

  .pull-m-7[class*=col-] {
    left: -58.3333333333%;
  }

  .col-m-8 {
    position: relative;
    width: 66.6666666667%;
  }

  .offset-m-8 {
    margin-left: 66.6666666667%;
  }

  .push-m-8[class*=col-] {
    left: 66.6666666667%;
  }

  .pull-m-8[class*=col-] {
    left: -66.6666666667%;
  }

  .col-m-9 {
    position: relative;
    width: 75%;
  }

  .offset-m-9 {
    margin-left: 75%;
  }

  .push-m-9[class*=col-] {
    left: 75%;
  }

  .pull-m-9[class*=col-] {
    left: -75%;
  }

  .col-m-10 {
    position: relative;
    width: 83.3333333333%;
  }

  .offset-m-10 {
    margin-left: 83.3333333333%;
  }

  .push-m-10[class*=col-] {
    left: 83.3333333333%;
  }

  .pull-m-10[class*=col-] {
    left: -83.3333333333%;
  }

  .col-m-11 {
    position: relative;
    width: 91.6666666667%;
  }

  .offset-m-11 {
    margin-left: 91.6666666667%;
  }

  .push-m-11[class*=col-] {
    left: 91.6666666667%;
  }

  .pull-m-11[class*=col-] {
    left: -91.6666666667%;
  }

  .col-m-12 {
    position: relative;
    width: 100%;
  }

  .offset-m-12 {
    margin-left: 100%;
  }

  .push-m-12[class*=col-] {
    left: 100%;
  }

  .pull-m-12[class*=col-] {
    left: -100%;
  }
}
@font-face {
  src: local(":)"), url("fonts/Averta-Regular.woff") format("woff"), url("fonts/Averta-Regular.otf") format("opentype");
  font-family: "Averta";
}
@font-face {
  src: local(":)"), url("fonts/Averta-Bold.woff") format("woff"), url("fonts/Averta-Bold.otf") format("opentype");
  font-family: "Averta";
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  color: #121212;
  margin: 0px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

.color-primary {
  color: #00D563;
}

.bg-primary {
  background-color: #00D563;
}

.color-default {
  color: #4B4B4B;
}

.bg-default {
  background-color: #4B4B4B;
}

.color-header {
  color: #121212;
}

.bg-header {
  background-color: #121212;
}

.color-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.color-light-gray {
  color: #FAFAFA;
}

.bg-light-gray {
  background-color: #FAFAFA;
}

.color-light-gray-darker {
  color: #F0F0F0;
}

.bg-light-gray-darker {
  background-color: #F0F0F0;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.align-center {
  align-self: center;
}

@media only screen and (max-width: 991px) {
  .mobile-no-margin {
    margin: 0px !important;
  }
}
.btn {
  padding: 15px 45px;
  display: inline-block;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 28px 40px;
  color: white;
  font-weight: bold;
  text-decoration: none !important;
}

.btn.hover-primary-lighter {
  transition: background 0.5s;
}
.btn.hover-primary-lighter:hover {
  background: #00ef6f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px 0px 200px;
  font: 16px "Averta";
  color: #4B4B4B;
}

a {
  color: #00D563;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.image-section .image {
  max-height: 656px;
}
.image-section .image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.image-section .text {
  max-width: 425px;
  margin: 0px auto;
  padding: 50px 10px;
  font-size: 0.875rem;
}
.image-section .text .main-header {
  margin-bottom: 65px;
  line-height: 1.5em;
}
.image-section .text content {
  margin-bottom: 65px;
  display: block;
  line-height: 1.5rem;
}
.image-section .text content .small-header {
  margin-bottom: 25px;
}

.text-section {
  margin-bottom: 135px;
}
.text-section .section-header {
  position: relative;
  padding: 20px 0px;
}
.text-section .section-header h1 {
  position: relative;
  line-height: 1.5em;
  z-index: 10;
}
.text-section .section-header .section-number {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 100px;
  font-weight: bold;
  color: #FAFAFA;
  transform: translate(-60%, -35%);
  z-index: 9;
}
.text-section .section-text {
  line-height: 1.75rem;
}

.toc .toc-item:not(:last-of-type) {
  margin-bottom: 55px;
}
.toc .toc-item .header, .toc .toc-item p {
  margin: 0px 0px 30px;
}
.toc .toc-item p {
  line-height: 1.875rem;
}
.toc .toc-item p:last-of-type {
  margin: 0px;
}
.toc .toc-item p:not(:last-of-type) {
  margin: 0px 0px 35px;
}

.toc .toc-box-container {
  position: relative;
  margin-bottom: 50px;
}

.toc .toc-box {
  width: 100%;
  max-width: 310px;
  margin: 0px auto;
  padding: 50px 45px 70px;
  border: 1px solid #F0F0F0;
}
@media only screen and (max-width: 991px) {
  .toc .toc-box {
    max-width: initial;
    padding: 25px 15px 30px;
  }
}
.toc .toc-box.floating {
  position: absolute;
  margin-top: 40px;
}
.toc .toc-box .toc-items-list ul {
  margin: 40px 0px 0px;
  padding: 0px;
  list-style: none;
  font-size: 0.875rem;
}
.toc .toc-box .toc-items-list ul li:not(:last-of-type) {
  margin-bottom: 15px;
}
.toc .toc-box .toc-items-list ul a {
  color: #4B4B4B;
  text-decoration: none;
  transition: color 0.5s;
}
.toc .toc-box .toc-items-list ul a:hover {
  color: #00D563;
}
.toc .toc-box .toc-items-list ul li.active a {
  color: #00D563;
}

.trash-container {
  margin-top: 50px;
}
