@import '_config';

.btn
{
	padding: 15px 45px;

	display: inline-block;

	border-radius: 100px;

	box-shadow: rgba(0, 0, 0, 0.14) 0px 28px 40px;

	color: white;
	font-weight: bold;
	text-decoration: none !important;
}

.btn.hover-primary-lighter
{
	transition: background 0.5s;

	&:hover
	{
		background: lighten(map-get($colors, "primary"), 5%);
	}
}