
$colors: (
	"primary": #00D563,
	"default": #4B4B4B,
	"header": #121212,

	"white": #FFFFFF,
	"light-gray": #FAFAFA,
	"light-gray-darker": #F0F0F0,
);

$container-width: (
	"desktop": 75%,
	"mobile": 90%
);

$columns-count: 12;


$is-desktop-device: "only screen and (min-width: 992px)";
$is-mobile-device: "only screen and (max-width: 991px)";

$devices-name: (
	"d": $is-desktop-device,
	"m": $is-mobile-device
);