@import '_config';

.row
{
	display: flex;
	flex-wrap: wrap;
}

.container
{
	width: map-get($container-width, "desktop");

	max-width: 1050px;

	margin: 0px auto;
}

@media #{$is-mobile-device}
{
	.container
	{
		width: map-get($container-width, "mobile");
	}
}

@each $name, $mediaQuery in $devices-name
{
	@media #{$mediaQuery}
	{
		@for $i from 1 through $columns-count
		{
			.col-#{$name}-#{$i}
			{
				position: relative;

				width: ($i / $columns-count) * 100%;
			}

			.offset-#{$name}-#{$i}
			{
				margin-left: ($i / $columns-count) * 100%;
			}

			.push-#{$name}-#{$i}[class*="col-"]
			{
				left: ($i / $columns-count * 100%);
			}

			.pull-#{$name}-#{$i}[class*="col-"]
			{
				left: -($i / $columns-count * 100%);
			}
		}
	}
}